<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heart attack possibility</title>
</head>
<body>
{% block content %}
<h2>Predict list</h2>
{% if rows %}

<table>
    <th>Name</th>
    <th>Age</th>
    <th>Sex</th>
    <th>cp</th>
    <th>trestbps</th>
    <th>chol</th>
    <th>fbs</th>
    <th>restecg</th>
    <th>thalach</th>
    <th>exang</th>
    <th>oldpeak</th>
    <th>slope</th>
    <th>ca</th>
    <th>thal</th>
    <th>result</th>
    {% for row in rows %}
    <tr>

        <td><a href="{{ url_for('result', id_=row.0) }}">{{row.1}}</a></td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>{{row.4}}</td>
        <td>{{row.5}}</td>
        <td>{{row.6}}</td>
        <td>{{row.7}}</td>
        <td>{{row.8}}</td>
        <td>{{row.9}}</td>
        <td>{{row.10}}</td>
        <td>{{row.11}}</td>
        <td>{{row.12}}</td>
        <td>{{row.13}}</td>
        <td>{{row.14}}</td>
        <td>{{row.15}}</td>
        <td>{{row.16}}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
<h3>There are no predicts yet</h3>
{% endif %}
<a href="{{ url_for('index')}}">Back</a>
{% endblock %}
</body>
</html>

